@font-face {
  font-family: HIGENSON;
  src: url(../fonts/Higenson.otf);
}

/* line 15, main.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 20, main.scss */
nav {
  height: 72px;
  padding: 20px;
  background: #fafbf6;
  color: #483b0e;
}
/* line 26, main.scss */
nav .logo {
  width: 60%;
  float: left;
  font-family: HIGENSON;
  text-transform: uppercase;
}
/* line 31, main.scss */
nav .logo img {
  float: left;
  width: 80px;
  margin-right: 10px;
}
/* line 37, main.scss */
nav .login {
  float: right;
}
/* line 40, main.scss */
nav .login h3 {
  float: left;
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
/* line 44, main.scss */
nav .login h3:hover {
  color: #ab8913;
}

/* line 51, main.scss */
#main {
  width: 80%;
  padding: 60px 20px;
  font-family: 'Source Sans Pro', sans-serif;
  display: table;
  margin: 0 auto;
}

/* line 59, main.scss */
canvas {
  float: left;
}

/* line 64, main.scss */
#right {
  width: 30%;
  float: right;
  color: #483b0e;
}
/* line 68, main.scss */
#right h2 {
  font-weight: 700;
}
/* line 71, main.scss */
#right p {
  font-weight: 400;
}

/* line 76, main.scss */
.button {
  width: 120px;
  margin-top: 20px;
  padding: 20px;
  background: #c7d9a0;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: capitalize;
  text-align: center;
  color: #566338;
  border-radius: 8px;
}
/* line 87, main.scss */
.button:hover {
  background: #e1d89c;
}

/* line 93, main.scss */
textarea:focus,
input:focus {
  outline: none;
}

/* line 97, main.scss */
.signup {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 360px;
  height: 360px;
  background: #e9e4c7;
  padding: 20px;
}
/* line 105, main.scss */
.signup h1 {
  text-align: center;
  font-family: HIGENSON;
  margin: 30px;
}
/* line 110, main.scss */
.signup input {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px auto;
  display: block;
  padding: 10px;
  width: 180px;
  color: #483b0e;
  border: solid 2px rgba(72, 59, 14, 0.6);
  border-radius: 8px;
  transition: border 0.3s;
}
/* line 120, main.scss */
.signup input:focus {
  border: solid 2px #483b0e;
}
/* line 127, main.scss */
.signup input::-webkit-input-placeholder {
  color: rgba(72, 59, 14, 0.3);
}

@media screen and (max-width: 620px) {
  /* line 134, main.scss */
  .logo {
    width: 100%;
  }

  /* line 137, main.scss */
  .login {
    color: black;
    position: absolute;
    bottom: 0px;
  }
}
